* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%; 
    display: block;
}

button {
    background-color: transparent;
    cursor: pointer;
}
